<h1>Listing nodes</h1>

<%= form_tag nodes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nodes.each do |node| %>
  <tr>
    <td><%= node.name %></td>
    <td><%= link_to 'Show', node %></td>
    <td><%= link_to 'Edit', edit_node_path(node) %></td>
    <% if node.sinks.empty?%>
      <td><%= link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
    <td>
    <% node.sinks.each do |sink|  %>
      <%= link_to sink.name, sink %>
    <% end %>
    </td>
    <%end%>
  </tr>
<% end %>
</table>
<%= will_paginate @nodes%>
<br />

<%= link_to 'New Node', new_node_path %>
