<p id="notice"><%= notice %></p>

<p><b>Name:</b><%= @node.name %></p>

<% @nodes_array = [@node]%>
<% @i = 0 %>
<% @edges_array = [] %>
<% @j = 0 %>
<%= render :partial => "node_up", :object => @node %>
<%= render :partial => "node_down", :object => @node %>

<%@filetext = "digraph G { \n"%>
<%@filetext << "edge [color=\"#666666\", arrowhead=\"open\", fontname=\"Trebuchet MS\", fontsize=\"11\"] \n"%>
<%@filetext << "node [color=\"#757116\", style=filled, shape=box, fontname=\"Trebuchet MS\", fontcolor=\"White\"]\n"%>
<%@nodes_array.each do |node|%>
  <%@filetext << "n#{node.id} [URL=\"/nodes/#{node.id}\",  label=\"#{node.name}\""%>
  <%if node == @node%>
    <%@filetext << ", style=filled fillcolor=\"#00477f\""%>
  <%end%>
  <%@filetext << "]\n"%>  
<%end%>
<%@edges_array.each do |edge|%>
  <%@filetext << "n#{edge.source_id} -> n#{edge.sink_id} [label=\"#{edge.edge_type.name}\"]\n"%>
<%end%>
<%@filetext << "  }"%>


<%my_file = File.new("public/mickdot.dot","w")%>
<%my_file.write @filetext%>
<%my_file.close%>

<p><b>Context</b></p><p><a href="/cgi-bin/webdot/mickdot.dot.dot.map"> <img src="/cgi-bin/webdot/mickdot.dot.dot.png" ismap> </a>

<p>
<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
</p>
